<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button (click)="onNewLocation()">
              <ion-icon name="add"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>locations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="locations">
        <ion-item *ngFor="let l of locations">
           <ion-label (click)="onLocationDetail(l)"> {{l.title}} </ion-label>
           <ion-icon slot="end" name="remove" (click)="onRemove(l)"></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>
